@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/*for chart */
.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line,
{
    path,
    line {
        stroke: black;
        fill: none;
        stroke-width: 1px;
    }
}

h3 {
	font-size: 12px;
	height: 40px;
	padding-bottom: 10px;
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line circle {
    opacity: 0.1;
}


#photo_drawer{
	width: 100%;
	height: 350px;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
}

/*For tree map*/
.node {
        border: solid 1px rgba(0,0,0, 0.2);
        font: 10px sans-serif;
        line-height: 12px;
        overflow: hidden;
        position: absolute;
        text-indent: 2px;
}

.titleArea {
	width: 100%;
	top: 40px;
	position: relative;
	height: auto;
	margin-bottom: 55px;
	font-family: 'Lato', Calibri, Arial;
}

.row{
	display: table;
	width: 90%;
	position: inherit;
	padding: 20px;
}

.col-12 {
	display: table-cell;
	width: 100%;
}

.col-10 {
	width: 83.3%;
	display: table-cell;
}

.col-2{
	width: 16.7%;
	left: 83.3%;
	display: table-cell;
}

.col-6{
	width: 50%;
	left: 50%;
	display: table-cell;
}

.col-8{
	width: 66.6%;
	display: table-cell;
}

.col-4{
	width: 33.4%;
	left: 66.6%;
	display: table-cell;
}

.col-3{
	width: 25%;
	left: 75%;
	display: table-cell;
}

.col-9{
	width: 75%;
	display: table-cell;
}

/*.title {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #9b6954;
	line-height: 0px;
}
.football {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #000;
	line-height: 0px;
}*/

.instafootball {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.sub_title {
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	margin: 0;
	line-height: 40px;
	color: #999;
	font-style: italic;
}

/*.canvas {
	width: 100%;
	height: auto;
	position: relative;
	background: #f2f2f2 !important;
}*/

/* Here starts the css for inner part */
/*#games{
	display: table;
	position: absolute;
	width: 210px;
}
#home_area{
	display: table-cell;
}
#away_area{
	display: table-cell;
}
.game_scoreboard {
	height: 30px;
	position: absolute;
	border: 1px solid #000000;
}*/

.home-content{
	height: 320px;
	position: relative;
	opacity: .8;
	padding: 0;
}

 .leftcontent {
    position: absolute;
    left:3%;
    width:10%;
    top:0px;
    font-family: roboto;
    background-color: #fff;
  }

  .leftcontent > h3 {
  	text-align: center;
  }

  .dataleft {
  	margin-top: 65px;
  }

 #center_panel {
 	margin-left:  -100px;
 }

 .centercontent {
    position: absolute;
    left:13%;
    width:63%;
    top:0px;
    font-family: roboto;
    background-color: #fff;
  }


.rightcontent {
    position: absolute;
    left:76%;
    width:24%;
    top:0px;
    font-family: roboto;
    background-color: #fff;
  }

.data{
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding-bottom: 30px;
}

.datatext{
	font-size: 13px;
	line-height: 1.3em;
}



.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

/* From fenghui */

.point {
  fill: #2f225d;
  stroke: #afa2dc;
}

.selected {
  fill: #afa2dc;
  stroke: #2f225d;
}

.axis {
  font: 10px sans-serif;
}

.clear-button {
  font: 14px sans-serif;
  cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#slider {
  width: 840px;
  position: relative;
  top: 465px;
  left: 100px;
}

/*from bar_chart*/
	.widget {
        display: inline-block;
        border: 1px solid #AAA;
        background: white;
    }

    svg {
        shape-rendering: crispEdges;
    }

    .bar {
        fill: #A18FDB;
    }

    .value {
        font-size: 12px;
        font-weight: 300;
        fill: #333;
    }

    .label {
        font-size: 14px;
        fill: #333;
    }

    .axis {
        font-size: 12px;
    }
    .axis path {
        fill: none;
    }
    .axis .tick line {
        stroke-width: 0;
        stroke: rgba(0, 0, 0, 0.1);
    }
	#tag_bar {
		height: 350px;
		width:300px;
		font-size: 10px;
	}

	.panel12345 {
	position: fixed;
	top: 170px;
	margin-left: 20px;
	width: 100px;
	height: 100px;
	z-index: 10;
	}

	#map {
	width: 100%;
    height: 500px;
	}
/*End fenghui */
@media screen and (max-width: 46.0625em) {
	
}

@media screen and (max-width: 25em) {
	
}