@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.titleArea {
	width: 100%;
	top: 40px;
	position: relative;
	height: auto;
	margin-bottom: 55px;
	font-family: 'Lato', Calibri, Arial;
}

.row{
	display: table;
	width: 90%;
	position: inherit;
	padding: 20px;
}

.col-12 {
	display: table-cell;
	width: 100%;
}

.col-10 {
	width: 83.3%;
	display: table-cell;
}

.col-2{
	width: 16.7%;
	left: 83.3%;
	display: table-cell;
}

.col-6{
	width: 50%;
	left: 50%;
	display: table-cell;
}

.col-8{
	width: 66.6%;
	display: table-cell;
}

.col-4{
	width: 33.4%;
	left: 66.6%;
	display: table-cell;
}

.col-3{
	width: 25%;
	left: 75%;
	display: table-cell;
}

.col-9{
	width: 75%;
	display: table-cell;
}

/*.title {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #9b6954;
	line-height: 0px;
}
.football {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #000;
	line-height: 0px;
}*/

.instafootball {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.sub_title {
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	margin: 0;
	line-height: 60px;
	color: #999;
	font-style: italic;
}

/*.canvas {
	width: 100%;
	height: auto;
	position: relative;
	background: #f2f2f2 !important;
}*/

/* Here starts the css for inner part */
/*#games{
	display: table;
	position: absolute;
	width: 210px;
}
#home_area{
	display: table-cell;
}
#away_area{
	display: table-cell;
}
.game_scoreboard {
	height: 30px;
	position: absolute;
	border: 1px solid #000000;
}*/

.home-content{
	height: 320px;
	position: relative;
	opacity: .8;
	padding: 0;
}

 .leftcontent {
    position: absolute;
    left:0%;
    width:13%;
    top:0px;
    font-family: roboto;
    background-color: #fff;
  }

 .centercontent {
    position: absolute;
    left:13%;
    width:63%;
    top:0px;
    font-family: roboto;
    background-color: yellow;
  }


.rightcontent {
    position: absolute;
    left:76%;
    width:24%;
    top:0px;
    font-family: roboto;
    background-color: green;
  }

.data{
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding-bottom: 30px;
}

.datatext{
	font-size: 13px;
	line-height: 1.3em;
}



.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

@media screen and (max-width: 46.0625em) {
	
}

@media screen and (max-width: 25em) {
	
}