@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.titleArea {
	width: 90%;
	left: 5%;
	position: relative;
	height: 100px;

	font-family: 'Lato', Calibri, Arial;
	font-weight: 700;
	color: #000;
}

.row{
	display: table;
	width: 90%;
	position: inherit;
	padding: 20px;
}

.col-12 {
	display: table-cell;
	width: 100%;
}

.col-10 {
	width: 83.3%;
	display: table-cell;
}

.col-2{
	width: 16.7%;
	left: 83.3%;
	display: table-cell;
}

.col-6{
	width: 50%;
	left: 50%;
	display: table-cell;
}

.col-8{
	width: 66.6%;
	display: table-cell;
}

.col-4{
	width: 33.4%;
	left: 66.6%;
	display: table-cell;
}

.col-3{
	width: 25%;
	left: 75%;
	display: table-cell;
}

.col-9{
	width: 75%;
	display: table-cell;
}

.title{
	font-size: 20px;
	text-align: center;
}

.sub_title {
	font-weight: 300;
	font-size: 13px;
}

.canvas {
	width: 90%;
	left: 5%;
	height: 600px;
	position: relative;
	background: #999 !important;
}

/* Here starts the css for inner part */
#games{
	display: table;
	position: absolute;
	width: 210px;
}

#home_area{
	display: table-cell;
}

#away_area{
	display: table-cell;
}

.game_scoreboard {
	height: 30px;
	position: absolute;
	border: 1px solid #000000;
}

footer {
	width: 90%;
	left: 5%;

	font-size: 12px;
}


.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

@media screen and (max-width: 46.0625em) {
	
}

@media screen and (max-width: 25em) {
	
}